/*
    Responsive styles for Find Me Beer
*/

/*@media screen and (min-width: 850px) {*/
    /*#sidenav {*/
        /*background-color: red;*/
    /*}*/
/*}*/

@media screen and (max-width: 1150px) and (min-width: 1051px) {
    .filter-controls {
        font-size: 14px;
    }
}

@media screen and (max-width: 1050px) and (min-width: 901px) {
    /*.filter-controls {*/
        /*font-size: 14px;*/
    /*}*/
    .brewery-content {
        padding: 5px 10px 5px;
    }
    .brewery-name {
        font-size: 18px;
        margin: 6px 0px 2px 0px;
    }
    .brewery-type {
        font-size: 14px;
    }
}